// colors

$color-1: #aebcb9; // Tower Gray
$color-2: #0096a7; // Bondi Blue
$color-3: #0d0d0d; // Cod Gray
$secondary-color: #c02026; //crimson-red
$input-green: #2ecc71; //flat-green

// nav

$nav-color : #E5C100 !important; //Gold

// fonts 

@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,700,300,600,800,400);




@font-face {
    font-family: 'ventography_personal_use_onRg';
    src: url('ventography-webfont.eot');
    src: url('ventography-webfont.eot?#iefix') format('embedded-opentype'),
         url('ventography-webfont.woff') format('woff'),
         url('ventography-webfont.ttf') format('truetype'),
         url('ventography-webfont.svg#ventography_personal_use_onRg') format('svg');
    font-weight: normal;
    font-style: normal;

}

$primary-font: "lato", "Source Sans Pro", Helvetica, Arial, sans-serif;
$headline-font-stack:  "ventography_personal_use_onRg", "lato", Helvetica, Arial, sans-serif;
$primary-font-stack : "lato", "Helvetica", Helvetica, Arial, sans-serif;




