@import 'partials/variables'; // colors, fonts etc...
@import 'partials/ionicons-font';
@import 'partials/buttons/buttons';
@import 'partials/mobileOverlay/mobileOverlay';
@import 'animate';


body, html{
	font-family: $primary-font-stack;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	color: #5a5a5a;
}

h1{
	text-transform: uppercase;
}
h1 strong{
	font-weight: 900;
}
h2{
	text-transform: uppercase;
	line-height: 20px;
	margin:  0;
}
h3{
font-size: 18px;
font-weight: 900;
}
h4{
	text-transform: uppercase;
}
h5{
	text-transform: uppercase;
	font-weight: 700;
	line-height: 20px;
}
p{
	font-family: $primary-font-stack;
}

.section-headline{
  font-family: $headline-font-stack;
  color:$secondary-color;
  font-size:5.5em;
  padding: 0;
  margin: 0;
}

a{ color: #FCAC45;}
a:hover,
a:focus{
	text-decoration: none;
	color: #FCAC45;
}

.section-title hr{
	border-color: #fcac45;
	border-width: 4px;
	width: 60px;
	float: left;
	clear: both;
}
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }
ul, ol{
	padding: 0;
	webkit-padding: 0;
	moz-padding: 0;
}

/*=====================
Navigation 
=====================*/
#tf-menu {
	padding: 20px;
	transition: all 0.8s;
  z-index: 98;
}
#tf-menu.navbar-default {
	background-color: rgba(248, 248, 248, 0);
	border-color: rgba(231, 231, 231, 0);
}
#tf-menu a.navbar-brand {
text-transform: uppercase;
font-size: 22px;
color: #fff;
font-weight: 900;
}

ul.nav.navbar-nav {
    width: 100%;
}


#tf-menu.navbar-default .navbar-nav > li > a {
  font-family: $primary-font-stack;
  font-weight: 300;
  font-size: 1.2em;
	text-transform: uppercase;
	color: #FFF;
	font-size: 1.3em;
	letter-spacing: 3px;
  opacity: .8;
}

.on {
	background-color: $secondary-color !important;
	padding: 0 !important;
  @media screen and (max-width:767px){
    background-color: transparent !important;
   
  }

}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
	color: $nav-color-main;
	background-color: transparent;
	font-weight: 400 !important;
}

.navbar-toggle {
	border-radius: 0;
	}
.navbar-default .navbar-toggle:hover, 
.navbar-default .navbar-toggle:focus {
	background-color: #FCAC45;
	border-color: #FCAC45;
	}
.navbar-default .navbar-toggle:hover>.icon-bar {
	background-color: #FFF;
	}

/* Bootstrap overrride */
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #555;
    background-color: transparent !important;
}

.navbar .nav,
.navbar .nav > li {
  float:none;
  display:inline-block;
  *display:inline; /* ie7 fix */
  *zoom:1; /* hasLayout ie7 trigger */
  vertical-align: top;
  width: 16.66%;
}

.navbar-collapse {
  text-align:center;
}

@media (max-width: 767px) {
  /* line 8, /home/nitrous/code/portfolio/app/assets/stylesheets/_responsive.css.scss */
  #tf-menu.navbar-default {
    background-color: rgba(0, 0, 0, 0) !important;
  }
}

/* Dot navigation */
#fp-nav {
  position: fixed;
  z-index: 100;
  margin-top: -32px;
  top: 50%;
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  
        .right {
        right: 17px;
      }

}



/*=====================
Home Style 
=====================*/

#tf-home .overlay{
  top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    background: url("TGIIoverlay2.svg") center center no-repeat;
    background-size: cover;
  
       @media screen and (max-width:767px){
        background:none;

      }
}






#tf-home p.lead{
	color: #e3e3e3;
}
// relative container to abolutely position intro and mouse elements
.content{
	position: relative;
	height: 100% !important;
}

.intro-absolute{
  position: absolute !important;
	bottom: 85px;
	width: 100% !important;
  
}

.mouse-absolute{
    position: absolute;
    bottom: 22px;
    width: 100% !important;
}


.color{
	color: #fcac45;
}

img.logo.center-block.img-responsive {
    width: 200px;
}
// Hi, My name is Trent
.hello{
  font: 1.3em/100% $headline-font-stack;
}

@media screen and (max-width:480px){
       span.cd-words-wrapper {
          font-size: .8em;
          max-width: 281px !important;
      }
}

h1.cd-headline.clip.is-full-width {
    color: white;
    text-align:center;
}
/*Scroll Mouse*/
// Animations
@-webkit-keyframes scroll-ani {
  0% {
    opacity: 1;
    top: 29%;
  }
  15% {
    opacity: 1;
    top: 50%;
  }
  50% {
    opacity: 0;
    top: 50%;
  }
  100% {
    opacity: 0;
    top: 29%;
  }
}

@-moz-keyframes scroll-ani {
  0% {
    opacity: 1;
    top: 29%;
  }
  15% {
    opacity: 1;
    top: 50%;
  }
  50% {
    opacity: 0;
    top: 50%;
  }
  100% {
    opacity: 0;
    top: 29%;
  }
}

@keyframes scroll-ani {
  0% {
    opacity: 1;
    top: 29%;
  }
  15% {
    opacity: 1;
    top: 50%;
  }
  50% {
    opacity: 0;
    top: 50%;
  }
  100% {
    opacity: 0;
    top: 29%;
  }
}

// Mouse & Message Styles

// The Scroll Link
.mouse-scroll {
  display: inline-block;
  line-height: 18px;
  font-size: 13px;
  font-weight: normal;
  color: #7F8C8D;
  color: #FFF;
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 2px;
  margin-top: 13%;
  text-decoration: none;
  overflow: hidden;
  
  // The Mouse
  .mouse {
    position: relative;
    display: block;
    width: 36.8px;
    height: 58.4px;
    margin: 0 auto 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 3px solid #FFF;
    border-radius: 23px;
    
    // Scroll Indicator
    .mouse-movement { 
      position: absolute;
      display: block;
      top: 29%;
      left: 50%;
      width: 8px;
      height: 8px;
      margin: -4px 0 0 -4px;
      background: #FFF;
      border-radius: 50%;
      -webkit-animation: scroll-ani 3s linear infinite;
      -moz-animation: scroll-ani 3s linear infinite;
      animation: scroll-ani 3s linear infinite;
    }
    
  }
    
  // The Scroll Message
  .mouse-message { 
      float: left;
      margin: -200px 0 0 7px;
      padding: 0;
      color:white;
      -webkit-animation: scroll-ani 4s linear infinite;
      -moz-animation: scroll-ani 4s linear infinite;
      animation: scroll-ani 4s linear infinite;
  }
  
      // shown on Hover of The Mouse
      &:hover {
        .mouse-message {
          margin-top: 0;    
        } 
      }
  
}

// bgvideo

video#bgvid {
  		position: absolute;
      top: 0;
      right: 0;
      bottom:0;
      left:0;
      width: 100%;
      height: 100%;
      background-size: 100% 100%;
 	    //background-color: black; /* in case the video doesn't fit the whole page*/
  		// background-image: ;
  		background-position: center center;
  		background-size: contain;
   		object-fit: cover; /*cover video background */
   		z-index:3;
        
  @media screen and (min-width: 1400px) { 
     height: 96%;
}
  
  
}

#tf-home .overlay{
position: absolute;
		z-index: 4;
		width: 100%;
		left: 0;
		top: 0;
}

/*=====================
About Section 
=======================*/

p.intro{
	font-size: 1.4em;
	margin: 12px 0 0;
	line-height: 1.618em;
	font-family: $primary-font-stack;
  padding-bottom: 20px;
}

p.intro:first-child:first-letter { 
  float: left; 
  color: $secondary-color; 
  font-size: 75px; 
  line-height: 50px;
  padding-top: 4px; 
  padding-right: 25px;
  padding-left: 3px; 
  font-family:$headline-font-stack;

}

#tf-about{
	padding: 80px 0;
  
      @media screen and (max-width:768px){
        padding: 0;

      }
  
  
}

.toolListIcon {
  width:3em;  
  
    & + .tooltip > .tooltip-inner {
      
      background-color: rgba(44, 62, 80,0.9);
    
    }
  
  & + .tooltip > .tooltip-arrow { border-top-color:rgba(44, 62, 80,0.9) !important; }
  
} // toolListIcon


.tool-list li, .comp-list li, {
  display: inline-block;
  
        &:hover{
          @include pulse($duration: 1s,
                    $delay: 0,
                    $function: ease
                    );          
        }

  
}
.resume li{
  display: inline-block;
        [class*="ion-social"], .ion-android-download {
           font-size:3em;
           margin-right:5px; 
           margin-left: 16%;
      }
          &:hover{
            
            
          }
  
  
}


.comp-list {
    margin-top: 10px;
}

.comp, .resume-icon {
        text-transform: uppercase;
        font-weight: 500;
        padding-right: 5px;
  
               span.download{
               font-size:.75em;
               top: -16px;
               position: relative;
             }
  
      }

.btn-margin{
    margin-top: 30px;
       @media screen and (max-width:768px){
            margin-top:30px;
            margin-bottom:30px;
          }
  
}

/*=====================
Demo Section 
=======================*/


div[data-menuanchor="thirdPage"]{
  
  background: url(bkgrd/bkgrd-electric_mini.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat; 
	color: #ffffff;  
   
  @media screen and (max-width:768px){
            height:700px !important;
          }
  
  
}

div[data-menuanchor="thirdPage"] .section-headline {
    margin: 42px 0px 0 0;
  
      @media screen and (max-width:768px){
            margin:0;
          }
    
}
.demo-text{
  font-size: 1.4em;
	margin: 0;
	line-height: 1.618em;
	font-family: $primary-font-stack;
  font-style: italic;
  padding-bottom: 10px;
  color:white; 
}

.section-title.center{
	padding: 15px 0;
  text-align: center;
}
.section-title h2,
.section-title.center h2{
	font-weight: 300;
}
.section-title.center .line{
	border-top: 4px solid $nav-color;
	height: 10px;
	width: 60px;
	text-align: center;
	margin: 0 auto;
	margin-top: 20px;
}

.section-title.center hr {
	border-top: 4px solid rgba(252, 172, 69, 0.34);
	width: 40px;
	text-align: center;
	margin-top: 10px;
	position: relative;
	left: 17%;
}


/*Slides*/

.flex {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
  
}

.slide-image .img-responsive{
  box-shadow: 4px 4px 13px black;
  
      @media screen and (max-width: 991px){
        width: 60%;
        margin: 0 auto;
    }
}

.project-title{
    font-family: $primary-font-stack;
    font-weight: 600;
}

.project-text{
    line-height: 1.75em;
    font-size: 1.3em;
}
  





/*Arrows*/

.fp-controlArrow {
    position: absolute;
    z-index: 4;
    top: 50%;
    cursor: pointer;
    width: 0;
    height: 0;
    border-style: solid;
    margin-top: -38px;
  
          &.fp-prev {
    left: 50px;
    border: none;
    width: 50px;
    height: 101px;
    background: url('arrowThin.svg') no-repeat;
    cursor: pointer;
            
              @media screen and (max-width: 1265px) { 
                left: 40px;
                width: 30px;
            }
            
              @media screen and (min-width: 680px) and (max-width: 713px)  { 
                top: 44%;
            }
            
              @media screen and (min-width: 493px) and (max-width: 680px)  { 
                top: 39%;
            }
            
              @media screen and (max-width: 492px) { 
                left: 27px;
                width: 30px;
                top: 38%;
            }
            
           
          
                
      
  }// fp-prev
  
        &.fp-next {
    right: 50px;
    border: none;
    width: 50px;
    height: 101px;
    background: url('arrowThin-right.svg') no-repeat;
    cursor: pointer;
          
           @media screen and (max-width: 1265px) { 
              right: 40px;
              width: 30px;
            }
          
          @media screen and (min-width: 680px) and (max-width: 713px)  { 
                top: 44%;
            }
          
          
           @media screen and (min-width: 493px) and (max-width: 680px)  { 
                top: 39%;
            }
          
           @media screen and (max-width: 492px) { 
                right: 27px;
                width: 30px;
                top: 38%;
            }         
          
  }// fp-next
  
  
}



/*=====================
Contact Section 
=======================*/
div[data-menuanchor="fourthPage"]{
  
  background: url(bkgrd/bkgrd-dots_mini.jpg);
	background-size: cover;
	background-position: center bottom;
	background-attachment: fixed;
	background-repeat: no-repeat;
	color: black;           
}


.contact-text{
  font-size: 1.4em;
	margin: 12px 0 0;
	line-height: 1.618em;
	font-family: $primary-font-stack;
  padding-bottom: 20px;
  color:white;  
}
	
.form-inline .form-control {
    display: inline-block;
    width: 100% !important;
}



#tf-contact{
	padding: 50px 0;
  margin-top: -130px;
  
   @media screen and (max-width:768px){
            margin-top:-45px;
            margin-bottom: 20px;
          }
  
        & .tooltip-inner {
          font-family: $primary-font-stack;
          text-transform: capitalize;
          max-width: 200px;
          padding: 3px 8px;
          color: #fff;
          text-align: center;
          background-color: $secondary-color !important;
          border-radius: 4px;
      }

        & .tooltip.bottom .tooltip-arrow {
            top: 0;
            left: 50%;
            margin-left: -5px;
            border-width: 0 5px 5px;
            border-bottom-color: $secondary-color !important;
        }

}

label {
	float: left;
	font-size: 12px;
	font-weight: 400;
	font-family: $primary-font-stack;
}

#tf-contact .form-control:focus {
	border-color: inherit;
	outline: 0;
	-webkit-box-shadow: transparent;
	box-shadow: transparent;
}

button.btn.tf-btn.btn-default {
	float: right;
	background: #FCAC45;
	border: 0;
	border-radius: 0;
	padding: 10px 40px;
	color: #ffffff;
	text-transform: uppercase;
}

.btn:active, .btn.active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.btn:focus, 
.btn:active:focus, 
.btn.active:focus, 
.btn.focus, 
.btn:active.focus, 
.btn.active.focus {
	outline: thin dotted;
	outline: none;
	outline-offset: none;
}

// required field styling
label[id$="-error"] {
    color: $secondary-color;
}

.form-control {
    height: 3em !important;
  
      &:focus {
          border-color: $input-green !important;
          outline: 0;
          -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 18px rgba(46, 204, 113,0.8) !important;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 18px rgba(46, 204, 113, 0.8) !important;
      }
  
         &.error{
           border-color: $secondary-color !important;
           outline: 0;
           
                 
               &:focus{
                 -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 30px rgba(192,32,38, 0.9) !important;
                 box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 30px rgba(192, 32, 38, 0.9) !important;
               }
               
         }
  
}

.form-group {
    margin-bottom: 2em !important;
}

.cbp-mc-form {
	position: relative;
}

.alert-success {
    font-family: $primary-font;
    font-size: 1.4em;
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.cbp-mc-form:before, 
.cbp-mc-form:after { 
	content: " "; display: table; 
}

.cbp-mc-form:after { 
	clear: both; 
}


.cbp-mc-form label {
	display: block;
	padding: 6px 5px 5px 2px;
	font-size: 1.1em;
	text-transform: uppercase;
	letter-spacing: 1px;
	cursor: pointer;
}

input.btn.btn-default{
  font-family: $primary-font-stack;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 4px;
    line-height: 1.5;
    font-size: 1.4em;
    padding: 5px 10px;
    color: #fff;
    display: block;
    width: 100%;
    background: transparent;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
     &:hover, &:active{
        background: none repeat scroll 0 0 $input-green;
        color: white;
        border-radius: 0;
       
     }        
}

.cbp-mc-form input,
.cbp-mc-form textarea,
.cbp-mc-form select {
	font-family: $primary-font-stack;
	line-height: 1.5;
	font-size: 1.4em;
	padding: 5px 10px;
	color: #fff;
	display: block;
	width: 100%;
	background: transparent;
  transition: all 0.3s ease 0s;
  
     &:hover, &:active{
        border-radius: 0;
     }
}

.cbp-mc-form input,
.cbp-mc-form textarea {
	  border: 1px solid #fff;
    border-radius: 3px;
}

.cbp-mc-form textarea {
	min-height: 100px;
}

.form-control::-webkit-input-placeholder { /* WebKit browsers */
    color: $input-green !important;
    font-style: italic;
}

.form-control.error::-webkit-input-placeholder{
  color: $secondary-color !important;
}

.form-control:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: $input-green !important;
    font-style: italic;
}

.form-control::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: $input-green !important;
    font-style: italic;
}

.form-control:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: $input-green !important;
    font-style: italic;
}

.cbp-mc-submit-wrap {
	text-align: center;
	padding-top: 40px;
	clear: both;
}

.cbp-mc-form input.cbp-mc-submit {
	background: #10689a;
	border: none;
	color: #fff;
	width: auto;
	cursor: pointer;
	text-transform: uppercase;
	display: inline-block;
	padding: 15px 30px;
	font-size: 1.1em;
	border-radius: 2px;
	letter-spacing: 1px;
      
    &:hover{
      background: #1478b1;  
    }
  
  
}

/* Footer */
nav#footer {
    background: transparent;
    color: #ffffff;
    padding: 1rem;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;

      & .fnav{ vertical-align: middle;}

      & ul.footer-social li{
      display: inline-block;
      margin-right: 10px;
    }

      & p{
        font-family: $primary-font;
        font-size: 1.4em;
        font-size: 12px;
        margin-top: 10px;
      }
  
      & i.fa{
      height: 30px;
      width: 30px;
      border: 2px solid #8c8c8c;
      font-size: 20px;
      padding: 4px 5px;
      border-radius: 50%;
      color: #8c8c8c;
      transition: all 0.5s;
            &:hover{
          background: #c02026;
          border-color: white;
          color: #ffffff;
        }

    }
  
}
